html, body {
    height: 100%; /* Preencher toda a altura da tela */
    margin: 0; /* Remover margens padrão */
    padding: 0; /* Remover padding padrão */
}

.patio {
    position: relative; /* Permitir posicionamento absoluto dos filhos */
    width: 100vw; /* Largura total da tela */
    height: 100vh; /* Altura total da tela */
    padding: 20px; /* Padding em volta do estacionamento */
    box-sizing: border-box; /* Incluir padding e border no tamanho total */
}

.regiao {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    position: absolute; /* Permitir posicionamento livre */
}

/* Tamanhos variados para simular planta de estacionamento */
#regiao1 {
    width: 300px; 
    height: 200px; 
    background-color: #FFFFFF; /* Branco */
    top: 20px;
    left: 20px;
}

#regiao2 {
    width: 400px; 
    height: 200px; 
    background-color: #0000FF; /* Azul */
    top: 20px;
    left: 350px;
}

#regiao3 {
    width: 300px; 
    height: 150px; 
    background-color: #FFFFFF; /* Branco */
    top: 240px;
    left: 20px;
}

#regiao4 {
    width: 400px; 
    height: 350px; 
    background-color: #0000FF; /* Azul */
    top: 340px;
    left: 340px;
}

#regiao5 {
    width: 400px; 
    height: 400px; 
    background-color: #FFFFFF; /* Branco */
    top: 400px;
    left: 20px;
}

#regiao6 {
    width: 200px; 
    height: 100px; 
    background-color: #0000FF; /* Azul */
    top: 400px;
    left: 240px;
}

#regiao7 {
    width: 350px; 
    height: 250px; 
    background-color: #0000FF; /* Azul */
    top: 20px;
    left: 680px;
}

#regiao8 {
    width: 100px; 
    height: 100px; 
    background-color: #FFFFFF; /* Branco */
    top: 280px;
    left: 680px;
}

#regiao9 {
    width: 400px; 
    height: 200px; 
    background-color: #0000FF; /* Azul */
    top: 280px;
    left: 800px;
}

#regiao10 {
    width: 250px; 
    height: 350px; 
    background-color: #FFFFFF; /* Branco */
    top: 400px;
    left: 680px;
}

/* Cores de ocupação */
.regiao[data-ocupacao="0"] {
    background-color: #FFFFFF; /* Branco para área vazia */
}

.regiao[data-ocupacao="1"],
.regiao[data-ocupacao="2"],
.regiao[data-ocupacao="3"],
.regiao[data-ocupacao="4"],
.regiao[data-ocupacao="5"] {
    background-color: #0000FF; /* Azul para áreas ocupadas */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
